body {
  margin: 0;
  background-color: rgba(71, 172, 155, 0.794);
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav{
  padding: 0 1rem;
}
.content{
  min-height: calc(100vh - 134px);
  padding: 1.5rem;
}